SUPABASE_URL=https://ihmarfuqzckiwopjinnp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlobWFyZnVxemNraXdvcGppbm5wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNDI3MDcsImV4cCI6MjA5ODkxODcwN30.m_b3qJscqZU8K26LYsZwqsb8zKTxEfTSeUkfQdsx1pI

# Simple credential check for Admin Panel
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
